/** @format */
@import "../../style.css";

.first {
  display: flex;
  padding: 50px 100px;
  align-items: center;
  justify-content: space-between;
}

.unit2 {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--color-neu6);
  padding: 8px 12px;
  color: var(--color-neu0);
  font-family: var(--font-dm);
  border-radius: 5px;
  position: relative;
}

.unit {
  position: relative;
}

.list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: var(--color-neu6);
  border-radius: 8px;
  margin-top: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid var(--color-neu4);
  z-index: 1000;
}

.temp {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--color-neu5);
}

.temp > span {
  padding: 0 8px;
  color: var(--color-neu3);
  font-family: var(--font-dm);
  font-weight: 500;
}

.temp div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--color-neu0);
  font-family: var(--font-dm);
}

.notactive {
  padding: 8px;
  cursor: pointer;
}

.list > span {
  padding: 8px;
  color: var(--color-neu0);
  font-family: var(--font-dm);
}

.active {
  background-color: var(--color-neu5);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 70px;
  padding: 8px;
  justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
  .first {
    padding: 20px 16px;
  }
  .first > img {
    width: 150px;
  }

  .list {
    top: 70px;
    right: 15px;
  }
}
