/** @format */

@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-neu7);
}

body::-webkit-scrollbar {
  display: none;
}
:root {
  /*color names*/

  --color-neu7: hsl(243, 96%, 9%);
  --color-neu6: hsl(243, 27%, 20%);
  --color-neu5: hsl(243, 23%, 24%);
  --color-neu4: hsl(243, 23%, 30%);
  --color-neu3: hsl(240, 6%, 70%);
  --color-neu2: hsl(250, 6%, 84%);
  --color-neu0: hsl(0, 0%, 100%);
  --color-orange: hsl(28, 100%, 52%);
  --color-blue1: hsl(233, 67%, 56%);
  --color-blue2: hsl(248, 70%, 36%);

  /*font names*/

  --font-dm: "DM Sans";
  --font-gro: "Bricolage Grotesque";
}
